@import '/src/Styles/variables.scss';

.editor_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: $editor-background-color;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  .content {
    min-width: 546px;
    min-height: 534px;
    background: $white;
    box-shadow: 0px 5px 15px $editor-box-shadow-color;
    border-radius: 9px;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 22px 24px 14px 24px; 
    }

    .header_text {
      margin: 0;
    }

    .close_button {
      border: 0;
      background: $white;
      &:hover {
        cursor: pointer;
      }
    }

    .avatar_editor {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 8px;
    }

    .control_buttons {
      display: flex;
      justify-content: center;

      .cancel_button {
        padding-right: 12px;
      }
    }

    .slider_container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 27px 0px;
      position: relative;
      
      .range_container {
        display: flex;
        justify-content: center;
        align-items: center;

        .slider {
          margin-left: 17px;
          margin-right: 17px;
          -webkit-appearance: none;
          width: 426px;
          appearance: none;
          height: 4px;
          background: $slider-background-color;
          outline: none;
          opacity: 1;
          -webkit-transition: .2s;
          transition: opacity .2s;
          border-radius: 2px;
        }
        
        .slider::-webkit-slider-thumb {
          -webkit-appearance: none;
          width: 24px;
          height: 16px;
          cursor: pointer;
          z-index: 3;
          position: relative;
        }

        #selector {
          height: 16px;
          width: 24px;
          position: absolute;
          z-index: 2;
          left: 0px;
          padding-left: 45px;
        }

        #progress_bar {
          display: flex;
          height: 4px;
          background: $range-progress-background-color;
          border-radius: 2px;
          position: absolute;
          left: 50px;
        }

        .progress_bar_container {
          height: 16px;
          width: 24px;
          position: absolute;
          background: $white;
          border: 1px solid $progress-bar-border-color;
          box-sizing: border-box;
          border-radius: 4px;
        }
      }
    }
  }
}
