@import "./Styles/variables.scss";
body {
  margin: 0;
}

.react-datepicker__day--selected {
  background-color: $brand-color;
  color: $text-color;
  border-radius: 50%;
}

.react-datepicker__day--keyboard-selected {
  background-color: $brand-color;
  color: $text-color;
  border-radius: 50%;
}

.react-datepicker__day--outside-month {
  color: $dull-color;
}

.react-datepicker__day:hover {
  background-color: $calendar-hover-background;
  border-radius: 50%;
}

.react-datepicker__header {
  position: relative;
  background-color: $white;
  border: none;
  select {
    margin: 12px;
  }
}
