/* !!! WARNING !!!
the code in this file was written during initial setup and shold be corrected or removed */
a {
    background-color: yellow;
    color: black;
    text-decoration: none;
    min-height: 50px;
}

a:hover {
    background-color: rgb(233, 233, 190);    
}

a:active {
    background-color: rgb(90, 90, 75);    
}